$color-bg:			#282828;
$color-fg:			#ebdbb2;

$color-black:		#32302f;
$color-black-dark:	#1d2021;
$color-black-light:	#3c3836;

$color-gray:		#928374;
$color-gray-dark:	#7c6f64;
$color-gray-light:	#a89984;

$color-white:		#fbf1c7;
$color-white-dark:	#d5c4a1;
$color-white-light:	#f9f5d7;

$color-red:			#cc241d;
$color-red-dark:	#9d0006;
$color-red-light:	#fb4934;
$color-green:		#98971a;
$color-green-dark:	#79740e;
$color-yellow:		#d79921;
$color-blue:		#458588;
$color-blue-dark:	#076678;
$color-blue-light:	#83a598;
$color-purple:		#b16286;
$color-aqua:		#689d6a;

$color-primary: $color-blue;

$color-gray-98:		$color-black;
$color-gray-95:		$color-black-dark;
$color-gray-90:		$color-black-light;

$color-blue-80:		$color-blue;
$color-blue-60:		$color-blue-light;
$color-blue-30:		$color-white;
$color-blue-15:		$color-white-dark;

