@font-face {
	font-family: 'Iosevka';
	font-weight: 400;
	font-style: normal;
	src: url('../font/iosevka-ss08-regular.woff2') format('woff2'),
	url('../font/iosevka-ss08-regular.woff') format('woff'),
	url('../font/iosevka-ss08-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-weight: 400;
	font-style: italic;
	src: url('../font/iosevka-ss08-italic.woff2') format('woff2'),
	url('../font/iosevka-ss08-italic.woff') format('woff'),
	url('../font/iosevka-ss08-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka';
	font-weight: 700;
	font-style: normal;
	src: url('../font/iosevka-ss08-bold.woff2') format('woff2'),
	url('../font/iosevka-ss08-bold.woff') format('woff'),
	url('../font/iosevka-ss08-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Lato Italic'), local('Lato-Italic'),
	url('../font/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
	url('../font/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Lato Regular'), local('Lato-Regular'),
	url('../font/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Lato Bold'), local('Lato-Bold'),
	url('../font/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: local('Merriweather Italic'), local('Merriweather-Italic'),
	url('../font/Merriweather-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
	url('../font/Merriweather-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Merriweather Regular'), local('Merriweather-Regular'),
	url('../font/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Merriweather Bold'), local('Merriweather-Bold'),
	url('../font/Merriweather-Bold.ttf') format('truetype');
}

